<style>
    .detalhes_req:hover {
        background: rgba(0, 169, 161, 0.3);
        cursor: pointer;
    }
</style>
<div class="col m12 s12 detalhes_req">
    <a class="waves-effect waves-light btn" onclick="history.go(-1);"
        style="background: #34a5a1; color: white; float: right;">
        <i class="fas fa-arrow-left"></i> Voltar
    </a>
</div>
<br>
<h3>Apresentações marcadas</h3>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Título</th>
            <th scope="col">Aluno</th>
            <th scope="col">Data</th>
            <th scope="col">Hora</th>
            <th scope="col">Detalhe</th>
        </tr>
    </thead>
    <tbody>
        {{#each trabalhos}}
        <tr>
            <th scope="row">{{titulo}}</th>
            <td>{{orientando}}</td>
            <td>{{data}}</td>
            <td>{{horario}}</td>
            <td align="center"><a href="/tcc/cadastro/exibe/{{_id}}"><button class="btn btn-primary px-3 py-1"><i
                            class="fas fa-plus" style="color: white"></i></button></a></td>
        </tr>
        {{else}}
        {{/each}}
    </tbody>
</table>