<style>
    .detalhes_req:hover {
        background: rgba(0, 169, 161, 0.3);
        cursor: pointer;
    }
</style>
<div class="col m12 s12 detalhes_req">
    <a class="waves-effect waves-light btn" onclick="history.go(-1);"
        style="background: #34a5a1; color: white; float: right;">
        <i class="fas fa-arrow-left"></i> Voltar
    </a>
</div>
<br>
<br>
<div class="card" style="margin-bottom: 10em;">
    <div class="card-body">
        <div class="row mt-5 mb-3">
            <div class="col-sm-12">

                <script>
                    $(document).ready(function () {

                        var monthNames = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"];

                        var dayNames = ["Seg", "Ter", "Qua", "Qui", "Sex", "Sab", "Dom"];

                        var events = [
                            {
                                date: "27/6/2019",
                                title: 'SPORT & WELLNESS',
                                link: 'http://bic.cat',
                                linkTarget: '_blank',
                                color: '',
                                content: '<img src="http://gettingcontacts.com/upload/jornadas/sport-wellness_portada.png" ><br>06-11-2013 - 09:00 <br> Tecnocampus Mataró Auditori',
                                class: '',
                                displayMonthController: true,
                                displayYearController: true,
                                nMonths: 6
                            }
                        ];

                        $('#calendari_lateral1').bic_calendar({
                            //list of events in array
                            events: events,
                            //enable select
                            enableSelect: true,
                            //enable multi-select
                            multiSelect: true,
                            //set day names
                            dayNames: dayNames,
                            //set month names
                            monthNames: monthNames,
                            //show dayNames
                            showDays: true,
                            //show month controller
                            displayMonthController: true,
                            //show year controller
                            displayYearController: true,
                        });
                    });
                </script>
                <div id="calendari_lateral1"></div>
            </div>

        </div>
    </div>
    <br>
    <h3>Apresentações marcadas</h3>
    <table class="table table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Aluno</th>
                <th scope="col">Data</th>
                <th scope="col">Hora</th>
                <th scope="col">Detalhe</th>
            </tr>
        </thead>
        <tbody>
            {{#each trabalhos}}
            <tr>
                <th scope="row">{{titulo}}</th>
                <td>{{orientando}}</td>
                <td class="dateDefesa" name="dateDefesa">{{data}}</td>
                <td>{{horario}}</td>
                <td align="center"><a href="/tcc/cadastro/exibe/{{_id}}"><button class="btn btn-primary px-3 py-1"><i
                                class="fas fa-plus" style="color: white"></i></button></a></td>
            </tr>
            {{else}}
            {{/each}}
        </tbody>
    </table>
</div>
<script>
    var aux = document.getElementsByClassName("dateDefesa").innerHTML
    var date = new Date(aux),
        dia = date.getDate().toString(),
        diaF = (dia.length == 1) ? '0' + dia : dia,
        mes = (date.getMonth() + 1).toString(), //+1 pois no getMonth Janeiro começa com zero.
        mesF = (mes.length == 1) ? '0' + mes : mes,
        anoF = date.getFullYear();
    // document.getElementById("dateDefesa").value = diaF + "/" + mesF + "/" + anoF
    document.getElementById("dateDefesa").innerHTML = diaF + "/" + mesF + "/" + anoF
</script>