<style>
    #datepicker {
        width: 300px;
    }
</style>

<h3>Exibir todos os TCCs</h3>
<div class="card" style="margin-bottom: 10em;">
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
                <tr align="center">
                    <th scope="col">Data da defesa</th>
                    <th scope="col">Aluno</th>
                    <th scope="col">Orientador</th>
                    <th scope="col">Tema</th>
                    <th scope="col">Detalhes</th>
                    <th scope="col">Download</th>
                    <th scope="col">Ação</th>


                </tr>
            </thead>


            <tbody>
                {{#each trabalhos}}
                <tr>
                    <th scope="row">{{data}}</th>
                    <td>{{orientando}}</td>
                    <td>{{orientador}}</td>
                    <td>{{tema}}</td>
                    <td align="center"><a href="/tcc/cadastro/exibe/{{_id}}"><i class="fas fa-question-circle"
                                style="color: rgba(41, 128, 185,1.0);"></i></a></td>
                                
                    <td><a href="/tcc/cadastro/exibeDoc/{{upload.files.filename}}"><i class="fas fa-download" style="color: rgba(192, 57, 43,1.0);"></i></a></td>
                    <td>
                        <a href="/tcc/cadastro/edit/{{_id}}"><button class="btn btn-success pl-3 mb-1" type="submit"><i
                                    class="fas fa-pencil-alt"></i></button></a>
                        <form action="/tcc/cadastro/deletar" method="POST">
                            <input type="hidden" name="id" value="{{_id}}">
                            <button class="btn btn-danger px-3 py-1" type="submit"><i
                                    class="fa fa-trash"></i></button></a>
 
                        </form>
                    </td>

                </tr>
                {{else}}
                <h4>Nenhum trabalho cadastrado!</h4>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>